@import base

// -----CONTAINER-----
.container
	max-width: 1950px
	padding: 0 15px
	margin: 0 auto
	background: #f6f8fb

	+r(1950)
		max-width: 1450px

	+r(1450)
		max-width: 1200px

	+r(1200)
		max-width: 992px

	+r(992)
		max-width: 768px

	+r(767)
		max-width: 576px

	+r(576)
		max-width: 480px

.header
	padding: 120px 0 35px
	display: flex
	justify-content: space-around
	text-align: center
	align-items: center
	position: relative

	+r(1700)
		padding: 240px 0 35px

	+r(992)
		padding-bottom: 15px

	&__title
		display: flex
		justify-content: center
		font-weight: 700
		font-size: 50px
		line-height: 62px
		color: #171717

		+r(1700)
			font-size: 35px

	&__logo
		position: absolute
		width: 230px
		top: 65%
		left: 90%
		transform: translate(-50%,-50%)

		+r(1700)
			top: 30%
			left: 50%

		img
			display: block
			width: 100%

.about
	display: flex
	justify-content: center
	padding: 35px 0 50px

	+r(992)
		padding-top: 15px

	img
		width: 100%

	&__title
		text-align: center
		font-size: 30px
		margin-bottom: 65px
		line-height: 49px
		color: #171717
		text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)

		+r(1700)
			text-shadow: none
			font-size: 24px

	br
		+r(992)
			display: none

.hero
	padding: 50px 0

	&__container
		display: flex
		flex-wrap: wrap
		justify-content: center
		gap: 0.5%

		+r(1950)
			gap: 15px

	&__item
		width: 100%
		max-width: 630px
		position: relative

		+r(1700)

		&_info
			position: absolute
			top: 20%
			left: 50%
			transform: translate(-50%, -50%)
			color: #fff
			text-align: center
			width: 100%

		h3
			font-size: 60px
			margin-bottom: 30px

		p
			font-size: 35px
			margin-bottom: 35px
			line-height: 1.6

	&__images
		width: 100%

	img
		min-height: 100%
		width: 100%

	svg, path
		transition: all .6s

	&__btn
		color: #fff
		font-size: 25px
		text-decoration: none
		transition: all .6s

		&:hover
			color: #000

			svg, path
				fill: #000

		span
			padding-right: 15px


